<h1>Listing productos</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Fechaingreso</th>
      <th>Sku</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.descripcion %></td>
        <td><%= producto.cantidad %></td>
        <td><%= producto.fechaingreso %></td>
        <td><%= producto.sku %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
