<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @producto.cantidad %>
</p>

<p>
  <strong>Fechaingreso:</strong>
  <%= @producto.fechaingreso %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @producto.sku %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
