<%= form_for(@vendedor) do |f| %>
  <% if @vendedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendedor.errors.count, "error") %> prohibited this vendedor from being saved:</h2>

      <ul>
      <% @vendedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :codigovendedor %><br>
    <%= f.text_field :codigovendedor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
