<h1>Listado de vendedores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Codigo vendedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendedors.each do |vendedor| %>
      <tr>
        <td><%= vendedor.nombre %></td>
        <td><%= vendedor.apellido %></td>
        <td><%= vendedor.codigovendedor %></td>
        <td><%= link_to 'Show', vendedor %></td>
        <td><%= link_to 'Edit', edit_vendedor_path(vendedor) %></td>
        <td><%= link_to 'Destroy', vendedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nuevo Vendedor', new_vendedor_path %>
